/* Helpers */
a {
  text-decoration: none;
}

.divider {
  height: 40px;
}

.mll {
  margin: 0 0 0 60px;
}

.mll2 {
  padding: 0 0 0 70px;
  background: rgb(243, 242, 242);
  margin: 10px 0 0 0;
}

/* Header */
.logo {
  height: 40px;
  width: 40px;
}

.input-size {
  margin: 5px 0 0 10px;
  font-size: 14px;
}

/* Main */
.title {
  margin: 70px 0 20px 0;
  font-weight: 700;
}

.container{
  display: flex;
  flex-direction: column;
}

.card_wide{
  width: 34rem;
}

.card_slim{
  width: 17rem;
}

.nav__link:hover{
 color: #0d6efd !important;
}

.main__load_btn{
  margin: 50px auto 0 auto;
  width: 150px;
}

.card-title{
font-weight: 600;
}

.row{
  margin: 30px auto 0 auto;
}
.cards__container{
  padding: 0;
}
