body {
  font-family: Helvetica, Arial, sans-serif;
}
.logo {
  height: 40px;
  width: 40px;
}
.title {
  margin-top: 70px;
}
.bgcolor {
  background-color: #0a58ca;
}
.divider {
  height: 40px;
}
.input-size {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
}
.mll {
  margin-left: 60px;
}
.mll2 {
  padding-left: 70px;
  background-color: rgb(243, 242, 242);
  margin-top: 10px;
}

.card_wide{
  width: 34rem;
}

.card_slim{
  width: 17rem;
}